<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="petrolEngine" class="in.amjadit.beans.PetrolEngine" />
	<bean id="dieselEngine" class="in.amjadit.beans.DieselEngine" />

	<bean id="petrolcar" class="in.amjadit.beans.Car">
		<property name="eng" ref="petrolEngine" />
		<!--<constructor-arg name = "eng" ref = "petrolEngine"/>
		-->
		

	</bean>
	
	<bean id="dieselcar" class="in.amjadit.beans.Car">
		<property name="eng" ref="dieselEngine" />
</bean>

</beans>
